<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FileLore Quick Look</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.audiovisual-content</string>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.audio</string>
				<string>public.image</string>
				<string>public.text</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.mpeg</string>
				<string>public.mpeg-2-video</string>
				<string>public.mpeg-2-transport-stream</string>
				<string>public.avi</string>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
				<string>com.apple.m4v-video</string>
				<string>public.mp3</string>
				<string>public.mpeg-4-audio</string>
				<string>com.apple.m4a-audio</string>
				<string>public.aiff-audio</string>
				<string>public.aifc-audio</string>
				<string>public.au-audio</string>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>public.gif</string>
				<string>public.bmp</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>public.webp</string>
				<string>com.adobe.photoshop-image</string>
				<string>com.adobe.raw-image</string>
				<string>com.adobe.pdf</string>
				<string>public.plain-text</string>
				<string>net.daringfireball.markdown</string>
				<string>public.source-code</string>
				<string>org.matroska.mkv</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
			<key>QLIsDataBasedPreview</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
